@charset "UTF-8";
h2
{
	text-align:center !important;
	color:white !important;
	
	
}
h3
{
	text-align:center !important;
	color:white !important;
	
	
}

body{
	color: white !important;
	margin: 0;
	padding: 0;
	
}
section
{
	position:absolute;
	width:100%;
	height: 100vh;
	background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB) !important;
	overflow:hidden;
	animation: animate 10s ease-in-out infinite;
}



.form-group
{
	color: white !important;
	background-color:#33A6B1 !important;
	border-color:white !important;
}


#add
{
	background-color: #4CAF50;
	color:white;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#delete
{
	background-color: #4CAF50;
	color:white
}
#closebtn
{
	background-color: red;
	color:white;
}
#closebtn:hover
{
	background-color: black;
	color:white;
}
#save
{
	background-color: #4CAF50;
	color:white;
}

#save:hover
{
	background-color: black;
	color:white;
}

#edit
{
	background-color: #4CAF50;
	color:white;
}

#edit:hover
{
	background-color: black;
	color:white;
}
 
#delete
{
	background-color: #F70D1A;
	color:white;
}
#delete:hover
{
	background-color: black;
	color:white;
}

.close
{
	background-color: black;
	color:white;
}

#add:hover
{
	background-color: black;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#editbtn:hover
{
	background-color: black;
	color:white;
}
.close:hover
{
	background-color: black;
	color:white;
}




@keyframes animate
{
0%
	{
		background-position:0% 50%; 
		
	}
50%
	{
		background-position:100% 50%; 
		
	}

100%
	{
		background-position:0% 50%; 
		
	}

}